node_modules/
.next/
out/
.netlify/

.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# clerk configuration (can include secrets)
/.clerk/

# TypeScript incremental build cache
tsconfig.tsbuildinfo
